.home-border {
  border-bottom: 1px solid;
  width: fit-content;
}

.home-text {
  width: 80%;
}

.ml-4{
  margin-right: 40px;
}

@media only screen and (max-width: 900px) {
  .home-text {
    width: 100%;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
}
