@import "../../styles/mixins/flex";
@import "../../styles/mixins/dimensions";

.dashbord-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dashbord-btn {
  margin-top: 30px;
}

.feature-section {
  @include justify-content-between;
}

.dashbord-img {
  @include justify-content-between;
 
 @media only screen and (max-width: 900px) {
 align-items: center;
}
>div{
  @media only screen and (max-width: 900px) {
    display: flex;
    justify-content: center;
   }
}

}
.dashbord-img ~div.dashbord-img{
  @media only screen and (max-width: 900px) {
    margin-top: 100px;
   }
}

.dashbord-img .first-img img {
 width: 100%;
 max-width: 90%;
 @media only screen and (max-width: 900px) {
  max-width: 100%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}

.dashbord-img .secend-img img {
  margin-top: 100px;
  width: 100%;
  width: 100%;
 max-width: 90%;
 @media only screen and (max-width: 900px) {
  max-width: 100%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}
.end-secend {
  margin-top: 50px;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
  .dashbord-img .secend-img img {
    margin-top: 30px;
  }
}
