.dashbord-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature-section {
  justify-content: space-between;
}

.dashbord-img {
  justify-content: space-between;
}

.dashbord-img .first-img img {
  width: 85%;
}

.dashbord-img .secend-img img {
  margin-top: 100px;
  width: 85%;
}
.end-secend {
  margin-top: 50px;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
  .dashbord-img .secend-img img {
    display:flex !important;
    justify-content: flex-end;
    margin: 0 0 0 auto;
    margin-top: 30px;
  }
}
