.blog-container {
  .container {
    height: 75vh;
   
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media only screen and (min-width: 1400px) {
      width: 80%;
      
      margin: 0;
      margin-left: auto;
     
    }
    @media only screen and (max-width: 1024px) {
      height: auto;
      padding-top: 100px;
    }
  }
}

.blog-container h2 {
  margin-top: 90px;
  letter-spacing: -0.03em;
}

.blog-footer-text {
  margin-top: 30px;
}

.blog-contact {
  width: 40%;
}

.fs-20 {
  font-size: 20px;
}

.footer-social {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  font-size: 23px;
  @media only screen and (max-width: 1200px) {
    width: 240px;
  }
  li{
    width: 100px;
  }
}

.blog-footer-list {
  list-style: none;
}

.light-mode .blog-footer-list a {
  color: #000;
}

.dark-mode .blog-footer-list a span {
  color: #fff;
}

.gray-color {
  color: #333;
}

@media screen and (max-width: 1024px) {
  .blog-container {
    align-items: center;
    text-align: center;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .blog-contact {
    width: 100%;
  }

  .blog-container {
    height: auto;
    width: 100%;

  }
  .footer-social {
    margin-top: 90px;
    
  }
  .blog-footer-list {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .blog-container {
    height: 100%;
  }
  .blog-container h2 {
    margin-top: 0px;
  }
  .blog-footer-text {
    margin-top: 0px;
  }
  .blog-contact {
    width: 100%;
    font-size: 16px;
    margin-top: 80px;
  }
  .blog-contact .fs-20 {
    font-size: 24px;
  }
  .footer-social {
   // width: 65%;
    font-size: 17px;
  }
  .blog-container .fs-75 {
    line-height: 45px;
  }
  .blog-container {
 //  width: 75%;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 20px;
    
  }
  .footer-social {
    margin-top: 60px;
    
  }
  .blog-footer-list{
    margin-bottom: 25px;
  }
}
.scrollbar-track-x{
  display: none !important;
}


body.light-mode {
  .blog-mode {
    // background-color: #000;

    // position: absolute;
    //  width: 100%;
    //  margin-top: 150px;

    p,
    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div {
      // color: #fff !important;
    }
    p {
      font-weight: 300;
      &.blog-footer-text {
        &::before {
          background-color: #000 !important;
          top: auto;
          bottom: -26px;
        }
      }
    }
  }
}
.blog-mode {
  margin-top: 150px;
  padding-top: 150px;
  @media only screen and (max-width: 1440px) {
    margin-top: 100px;
  }
  @media only screen and (max-width: 1200px) {
    margin-top: 75px;
  }
  @media only screen and (max-width: 1024px) {
    padding-top:0px;
    margin-top: 0;
  }
  @media only screen and (max-width: 768px) {
    padding-top: 50px;
  }

  /*
  .nav-link-hover::before{
    top: 5px;
  }
  */
  h2 {
    font-weight: 400;

    &:not(:hover) {
    }
  }

  .parent-h2 {
    position: relative;
    @media only screen and (max-width: 1024px) {
      padding-bottom: 100px;
    }
    
    @media only screen and (max-width: 600px) {
      line-height: 120px !important;
      padding-bottom: 50px;
    }
    @media only screen and (max-width: 440px) {
      line-height: 65px !important;
    }
  
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #fff;
      transition: 0.25s;
      bottom: 0;
      transition: transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
        -webkit-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
        -moz-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04),
        -o-transform 0.45s cubic-bezier(0.4, 0.22, 0.21, 1.04);
      display: none;
    }
    h2,
    p {
      font-size: 104px !important;
      letter-spacing: -3.12px;
     

      @media only screen and (max-width: 1200px) {
        font-size: 65px !important;
        line-height: 35px;
      }
      @media only screen and (max-width: 1024px) {
        font-size: 60px !important;
      }
      @media only screen and (max-width: 440px) {
        font-size: 42px !important;
      }
      @media only screen and (max-width: 400px) {
        font-size: 42px !important;
      }

    }
    p {
      font-weight: 300;
      &.blog-footer-text {
        &::before {
          top: auto;
          bottom: -26px;
        }
      }
    }
  }
  .nav-link-wrapper:hover .nav-link-hover-wrapper {
    transform: translateY(-105%) !important;
    @media only screen and (max-width: 1199px) {
      transform: translateY(0px) !important;
    }
    
  }
}

.blog-contact {
  > h4 {
    font-weight: 400;
    font-size: 24px;
  }
  > p.gray-color {
    // color: rgba(255,255,255,.6);
    font-size: 14px;
    font-weight: 400 !important;
  }
  > p.fw-bold {
    position: relative;
    display: inline-block;
    font-weight: 400 !important;
    &:hover {
      &::before {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      height: 1px;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: right center;
      -moz-transform-origin: right center;
      -ms-transform-origin: right center;
      -o-transform-origin: right center;
      transform-origin: right center;
      background: currentColor;
      -webkit-transition: -webkit-transform 0.4s, -webkit-transform-origin 0s;
      transition: -webkit-transform 0.4s, -webkit-transform-origin 0s;
      -o-transition: -o-transform 0.4s, -o-transform-origin 0s;
      -moz-transition: transform 0.4s, transform-origin 0s, -moz-transform 0.4s,
        -moz-transform-origin 0s;
      transition: transform 0.4s, transform-origin 0s;
      transition: transform 0.4s, transform-origin 0s, -webkit-transform 0.4s,
        -moz-transform 0.4s, -o-transform 0.4s, -webkit-transform-origin 0s,
        -moz-transform-origin 0s, -ms-transform-origin 0s,
        -o-transform-origin 0s;
    }
  }
}

//Night
.blog-mode {
  
  .blog-contact {
    p.gray-color {
      //  color: rgba(255,255,255,.6) !important;
      font-weight: 400 !important;

      margin-bottom: 0 !important;
    }
  }

  .nav-link-hover::before {
    top: 5px;
  }
  .nav-link-hover {
    //display: none;
  }
  .spanSvg {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  .youtubeicon{
    .spanSvg{
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8346 16.2498L16.4571 12.9998L10.8346 9.74984V16.2498ZM23.358 7.76734C23.4988 8.2765 23.5963 8.959 23.6613 9.82567C23.7371 10.6923 23.7696 11.4398 23.7696 12.0898L23.8346 12.9998C23.8346 15.3723 23.6613 17.1165 23.358 18.2323C23.0871 19.2073 22.4588 19.8357 21.4838 20.1065C20.9746 20.2473 20.043 20.3448 18.613 20.4098C17.2046 20.4857 15.9155 20.5182 14.7238 20.5182L13.0013 20.5832C8.46213 20.5832 5.63464 20.4098 4.5188 20.1065C3.5438 19.8357 2.91547 19.2073 2.64464 18.2323C2.5038 17.7232 2.4063 17.0407 2.3413 16.174C2.26547 15.3073 2.23297 14.5598 2.23297 13.9098L2.16797 12.9998C2.16797 10.6273 2.3413 8.88317 2.64464 7.76734C2.91547 6.79234 3.5438 6.164 4.5188 5.89317C5.02797 5.75234 5.95964 5.65484 7.38964 5.58984C8.79797 5.514 10.0871 5.4815 11.2788 5.4815L13.0013 5.4165C17.5405 5.4165 20.368 5.58984 21.4838 5.89317C22.4588 6.164 23.0871 6.79234 23.358 7.76734Z' fill='%23999999'/%3E%3C/svg%3E%0A");
    }
    .magnetic-area:hover + span.magnetic-content span.spanSvg{
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8346 16.2498L16.4571 12.9998L10.8346 9.74984V16.2498ZM23.358 7.76734C23.4988 8.2765 23.5963 8.959 23.6613 9.82567C23.7371 10.6923 23.7696 11.4398 23.7696 12.0898L23.8346 12.9998C23.8346 15.3723 23.6613 17.1165 23.358 18.2323C23.0871 19.2073 22.4588 19.8357 21.4838 20.1065C20.9746 20.2473 20.043 20.3448 18.613 20.4098C17.2046 20.4857 15.9155 20.5182 14.7238 20.5182L13.0013 20.5832C8.46213 20.5832 5.63464 20.4098 4.5188 20.1065C3.5438 19.8357 2.91547 19.2073 2.64464 18.2323C2.5038 17.7232 2.4063 17.0407 2.3413 16.174C2.26547 15.3073 2.23297 14.5598 2.23297 13.9098L2.16797 12.9998C2.16797 10.6273 2.3413 8.88317 2.64464 7.76734C2.91547 6.79234 3.5438 6.164 4.5188 5.89317C5.02797 5.75234 5.95964 5.65484 7.38964 5.58984C8.79797 5.514 10.0871 5.4815 11.2788 5.4815L13.0013 5.4165C17.5405 5.4165 20.368 5.58984 21.4838 5.89317C22.4588 6.164 23.0871 6.79234 23.358 7.76734Z' fill='%23000'/%3E%3C/svg%3E%0A");
    }

  }
  .instagramicon{
    .spanSvg{
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='24' viewBox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.4763 2H15.5263C18.593 2 21.0846 4.6 21.0846 7.8V16.2C21.0846 17.7383 20.499 19.2135 19.4566 20.3012C18.4142 21.3889 17.0005 22 15.5263 22H7.4763C4.40964 22 1.91797 19.4 1.91797 16.2V7.8C1.91797 6.26174 2.50358 4.78649 3.54597 3.69878C4.58836 2.61107 6.00214 2 7.4763 2ZM7.28464 4C6.36964 4 5.49212 4.37928 4.84512 5.05442C4.19812 5.72955 3.83464 6.64522 3.83464 7.6V16.4C3.83464 18.39 5.37755 20 7.28464 20H15.718C16.633 20 17.5105 19.6207 18.1575 18.9456C18.8045 18.2705 19.168 17.3548 19.168 16.4V7.6C19.168 5.61 17.6251 4 15.718 4H7.28464ZM16.5326 5.5C16.8503 5.5 17.155 5.6317 17.3796 5.86612C17.6043 6.10054 17.7305 6.41848 17.7305 6.75C17.7305 7.08152 17.6043 7.39946 17.3796 7.63388C17.155 7.8683 16.8503 8 16.5326 8C16.2148 8 15.9101 7.8683 15.6855 7.63388C15.4608 7.39946 15.3346 7.08152 15.3346 6.75C15.3346 6.41848 15.4608 6.10054 15.6855 5.86612C15.9101 5.6317 16.2148 5.5 16.5326 5.5ZM11.5013 7C12.7721 7 13.9909 7.52678 14.8895 8.46447C15.7881 9.40215 16.293 10.6739 16.293 12C16.293 13.3261 15.7881 14.5979 14.8895 15.5355C13.9909 16.4732 12.7721 17 11.5013 17C10.2305 17 9.01169 16.4732 8.11308 15.5355C7.21447 14.5979 6.70964 13.3261 6.70964 12C6.70964 10.6739 7.21447 9.40215 8.11308 8.46447C9.01169 7.52678 10.2305 7 11.5013 7ZM11.5013 9C10.7388 9 10.0075 9.31607 9.46837 9.87868C8.9292 10.4413 8.6263 11.2044 8.6263 12C8.6263 12.7956 8.9292 13.5587 9.46837 14.1213C10.0075 14.6839 10.7388 15 11.5013 15C12.2638 15 12.9951 14.6839 13.5342 14.1213C14.0734 13.5587 14.3763 12.7956 14.3763 12C14.3763 11.2044 14.0734 10.4413 13.5342 9.87868C12.9951 9.31607 12.2638 9 11.5013 9Z' fill='%23999999'/%3E%3C/svg%3E%0A");
    }
    .magnetic-area:hover + span.magnetic-content span.spanSvg{
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='24' viewBox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.4763 2H15.5263C18.593 2 21.0846 4.6 21.0846 7.8V16.2C21.0846 17.7383 20.499 19.2135 19.4566 20.3012C18.4142 21.3889 17.0005 22 15.5263 22H7.4763C4.40964 22 1.91797 19.4 1.91797 16.2V7.8C1.91797 6.26174 2.50358 4.78649 3.54597 3.69878C4.58836 2.61107 6.00214 2 7.4763 2ZM7.28464 4C6.36964 4 5.49212 4.37928 4.84512 5.05442C4.19812 5.72955 3.83464 6.64522 3.83464 7.6V16.4C3.83464 18.39 5.37755 20 7.28464 20H15.718C16.633 20 17.5105 19.6207 18.1575 18.9456C18.8045 18.2705 19.168 17.3548 19.168 16.4V7.6C19.168 5.61 17.6251 4 15.718 4H7.28464ZM16.5326 5.5C16.8503 5.5 17.155 5.6317 17.3796 5.86612C17.6043 6.10054 17.7305 6.41848 17.7305 6.75C17.7305 7.08152 17.6043 7.39946 17.3796 7.63388C17.155 7.8683 16.8503 8 16.5326 8C16.2148 8 15.9101 7.8683 15.6855 7.63388C15.4608 7.39946 15.3346 7.08152 15.3346 6.75C15.3346 6.41848 15.4608 6.10054 15.6855 5.86612C15.9101 5.6317 16.2148 5.5 16.5326 5.5ZM11.5013 7C12.7721 7 13.9909 7.52678 14.8895 8.46447C15.7881 9.40215 16.293 10.6739 16.293 12C16.293 13.3261 15.7881 14.5979 14.8895 15.5355C13.9909 16.4732 12.7721 17 11.5013 17C10.2305 17 9.01169 16.4732 8.11308 15.5355C7.21447 14.5979 6.70964 13.3261 6.70964 12C6.70964 10.6739 7.21447 9.40215 8.11308 8.46447C9.01169 7.52678 10.2305 7 11.5013 7ZM11.5013 9C10.7388 9 10.0075 9.31607 9.46837 9.87868C8.9292 10.4413 8.6263 11.2044 8.6263 12C8.6263 12.7956 8.9292 13.5587 9.46837 14.1213C10.0075 14.6839 10.7388 15 11.5013 15C12.2638 15 12.9951 14.6839 13.5342 14.1213C14.0734 13.5587 14.3763 12.7956 14.3763 12C14.3763 11.2044 14.0734 10.4413 13.5342 9.87868C12.9951 9.31607 12.2638 9 11.5013 9Z' fill='%23000000'/%3E%3C/svg%3E%0A");
    }
  }
  .telegramIcon{
    .spanSvg{
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3613_418)'%3E%3Cpath d='M21.9588 0.388098C21.8793 0.160825 21.7846 0.0971887 21.6379 0.0426432C21.3171 -0.0785689 20.7732 0.103249 20.7732 0.103249C20.7732 0.103249 1.4957 6.97295 0.395704 7.73355C0.157371 7.89719 0.0779267 7.99113 0.04126 8.10325C-0.148184 8.64567 0.444593 8.88507 0.444593 8.88507L5.41293 10.4911C5.41293 10.4911 5.59932 10.5184 5.66348 10.476C6.79404 9.76689 17.0363 3.35476 17.626 3.13961C17.7207 3.11234 17.7879 3.14264 17.7696 3.20628C17.5343 4.03052 8.63959 11.8699 8.63959 11.8699C8.63959 11.8699 8.60598 11.9123 8.58459 11.9608L8.57237 11.9548L8.10793 16.8426C8.10793 16.8426 7.91237 18.3396 9.42487 16.8426C10.4913 15.7851 11.521 14.9032 12.0374 14.4729C13.7454 15.6426 15.5849 16.9366 16.3763 17.6123C16.7735 17.9517 17.1096 18.0063 17.3815 17.9972C18.1332 17.9699 18.344 17.1487 18.344 17.1487C18.344 17.1487 21.8579 3.12749 21.974 1.2487C21.9863 1.06386 22.0015 0.948704 22.0015 0.821431C22.0015 0.645674 21.9863 0.469916 21.9588 0.385067V0.388098Z' fill='%23999999'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3613_418'%3E%3Crect width='22' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    .magnetic-area:hover + span.magnetic-content span.spanSvg {  
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3613_418)'%3E%3Cpath d='M21.9588 0.388098C21.8793 0.160825 21.7846 0.0971887 21.6379 0.0426432C21.3171 -0.0785689 20.7732 0.103249 20.7732 0.103249C20.7732 0.103249 1.4957 6.97295 0.395704 7.73355C0.157371 7.89719 0.0779267 7.99113 0.04126 8.10325C-0.148184 8.64567 0.444593 8.88507 0.444593 8.88507L5.41293 10.4911C5.41293 10.4911 5.59932 10.5184 5.66348 10.476C6.79404 9.76689 17.0363 3.35476 17.626 3.13961C17.7207 3.11234 17.7879 3.14264 17.7696 3.20628C17.5343 4.03052 8.63959 11.8699 8.63959 11.8699C8.63959 11.8699 8.60598 11.9123 8.58459 11.9608L8.57237 11.9548L8.10793 16.8426C8.10793 16.8426 7.91237 18.3396 9.42487 16.8426C10.4913 15.7851 11.521 14.9032 12.0374 14.4729C13.7454 15.6426 15.5849 16.9366 16.3763 17.6123C16.7735 17.9517 17.1096 18.0063 17.3815 17.9972C18.1332 17.9699 18.344 17.1487 18.344 17.1487C18.344 17.1487 21.8579 3.12749 21.974 1.2487C21.9863 1.06386 22.0015 0.948704 22.0015 0.821431C22.0015 0.645674 21.9863 0.469916 21.9588 0.385067V0.388098Z' fill='%23000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3613_418'%3E%3Crect width='22' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  
}
  .linkedinIcon {
    .spanSvg {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32px' height='32px'%3E%3Cpath d='M 8.6425781 4 C 7.1835781 4 6 5.181625 6 6.640625 C 6 8.099625 7.182625 9.3085938 8.640625 9.3085938 C 10.098625 9.3085938 11.283203 8.099625 11.283203 6.640625 C 11.283203 5.182625 10.101578 4 8.6425781 4 z M 21.535156 11 C 19.316156 11 18.0465 12.160453 17.4375 13.314453 L 17.373047 13.314453 L 17.373047 11.310547 L 13 11.310547 L 13 26 L 17.556641 26 L 17.556641 18.728516 C 17.556641 16.812516 17.701266 14.960938 20.072266 14.960938 C 22.409266 14.960937 22.443359 17.145609 22.443359 18.849609 L 22.443359 26 L 26.994141 26 L 27 26 L 27 17.931641 C 27 13.983641 26.151156 11 21.535156 11 z M 6.3632812 11.310547 L 6.3632812 26 L 10.923828 26 L 10.923828 11.310547 L 6.3632812 11.310547 z' fill='%23999999'/%3E%3C/svg%3E");
    }
    .magnetic-area:hover + span.magnetic-content span.spanSvg {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32px' height='32px'%3E%3Cpath d='M 8.6425781 4 C 7.1835781 4 6 5.181625 6 6.640625 C 6 8.099625 7.182625 9.3085938 8.640625 9.3085938 C 10.098625 9.3085938 11.283203 8.099625 11.283203 6.640625 C 11.283203 5.182625 10.101578 4 8.6425781 4 z M 21.535156 11 C 19.316156 11 18.0465 12.160453 17.4375 13.314453 L 17.373047 13.314453 L 17.373047 11.310547 L 13 11.310547 L 13 26 L 17.556641 26 L 17.556641 18.728516 C 17.556641 16.812516 17.701266 14.960938 20.072266 14.960938 C 22.409266 14.960937 22.443359 17.145609 22.443359 18.849609 L 22.443359 26 L 26.994141 26 L 27 26 L 27 17.931641 C 27 13.983641 26.151156 11 21.535156 11 z M 6.3632812 11.310547 L 6.3632812 26 L 10.923828 26 L 10.923828 11.310547 L 6.3632812 11.310547 z' fill='%23000'/%3E%3C/svg%3E");
    }
  }
  .twittericon {
    .spanSvg{
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.9154 5.67157C24.0381 6.09534 23.0925 6.37382 22.1128 6.50701C23.1153 5.86529 23.89 4.84824 24.2546 3.62534C23.309 4.23074 22.2609 4.65451 21.1558 4.89667C20.2558 3.85539 18.9912 3.25 17.5557 3.25C14.8785 3.25 12.6911 5.57471 12.6911 8.44426C12.6911 8.85593 12.7367 9.25549 12.8164 9.63083C8.76065 9.41289 5.14919 7.34245 2.74535 4.20652C2.32383 4.96931 2.08458 5.86529 2.08458 6.80971C2.08458 8.61377 2.93903 10.212 4.26057 11.1201C3.45169 11.1201 2.69978 10.8779 2.03901 10.5147C2.03901 10.5147 2.03901 10.5147 2.03901 10.551C2.03901 13.0695 3.72512 15.1762 5.95807 15.6484C5.54793 15.7695 5.11501 15.83 4.6707 15.83C4.3631 15.83 4.0555 15.7937 3.75929 15.7332C4.3745 17.7794 6.16313 19.305 8.31634 19.3413C6.65302 20.7458 4.54538 21.5692 2.24408 21.5692C1.85673 21.5692 1.46938 21.545 1.08203 21.4965C3.24663 22.9737 5.82136 23.8333 8.57837 23.8333C17.5557 23.8333 22.4887 15.9148 22.4887 9.04966C22.4887 8.81961 22.4887 8.60167 22.4773 8.37162C23.4343 7.64515 24.2546 6.72495 24.9154 5.67157Z' fill='%23999999'/%3E%3C/svg%3E%0A");
    }
    .magnetic-area:hover + span.magnetic-content span.spanSvg {
      
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24px' height='24px'%3E%3Cpath d='M22,3.999c-0.78,0.463-2.345,1.094-3.265,1.276c-0.027,0.007-0.049,0.016-0.075,0.023c-0.813-0.802-1.927-1.299-3.16-1.299 c-2.485,0-4.5,2.015-4.5,4.5c0,0.131-0.011,0.372,0,0.5c-3.353,0-5.905-1.756-7.735-4c-0.199,0.5-0.286,1.29-0.286,2.032 c0,1.401,1.095,2.777,2.8,3.63c-0.314,0.081-0.66,0.139-1.02,0.139c-0.581,0-1.196-0.153-1.759-0.617c0,0.017,0,0.033,0,0.051 c0,1.958,2.078,3.291,3.926,3.662c-0.375,0.221-1.131,0.243-1.5,0.243c-0.26,0-1.18-0.119-1.426-0.165 c0.514,1.605,2.368,2.507,4.135,2.539c-1.382,1.084-2.341,1.486-5.171,1.486H2C3.788,19.145,6.065,20,8.347,20 C15.777,20,20,14.337,20,8.999c0-0.086-0.002-0.266-0.005-0.447C19.995,8.534,20,8.517,20,8.499c0-0.027-0.008-0.053-0.008-0.08 c-0.003-0.136-0.006-0.263-0.009-0.329c0.79-0.57,1.475-1.281,2.017-2.091c-0.725,0.322-1.503,0.538-2.32,0.636 C20.514,6.135,21.699,4.943,22,3.999z' fill='%23000'/%3E%3C/svg%3E");
      
      
    }
  }
  .facebookIcon{
    .spanSvg{
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0013 2.20996C7.04297 2.20996 2.16797 7.07413 2.16797 13.065C2.16797 18.4816 6.13297 22.9775 11.3113 23.79V16.2066H8.55964V13.065H11.3113V10.6708C11.3113 7.95163 12.9255 6.45663 15.4063 6.45663C16.5871 6.45663 17.8221 6.66246 17.8221 6.66246V9.33829H16.4571C15.1138 9.33829 14.6913 10.1725 14.6913 11.0283V13.065H17.703L17.2155 16.2066H14.6913V23.79C17.2441 23.3868 19.5687 22.0843 21.2454 20.1175C22.9221 18.1508 23.8404 15.6494 23.8346 13.065C23.8346 7.07413 18.9596 2.20996 13.0013 2.20996Z' fill='%23999'/%3E%3C/svg%3E%0A");
    }
    .magnetic-area:hover + span.magnetic-content span.spanSvg {
      
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0013 2.20996C7.04297 2.20996 2.16797 7.07413 2.16797 13.065C2.16797 18.4816 6.13297 22.9775 11.3113 23.79V16.2066H8.55964V13.065H11.3113V10.6708C11.3113 7.95163 12.9255 6.45663 15.4063 6.45663C16.5871 6.45663 17.8221 6.66246 17.8221 6.66246V9.33829H16.4571C15.1138 9.33829 14.6913 10.1725 14.6913 11.0283V13.065H17.703L17.2155 16.2066H14.6913V23.79C17.2441 23.3868 19.5687 22.0843 21.2454 20.1175C22.9221 18.1508 23.8404 15.6494 23.8346 13.065C23.8346 7.07413 18.9596 2.20996 13.0013 2.20996Z' fill='%23000'/%3E%3C/svg%3E%0A");      
    }
  }
  .substackicon{
    .spanSvg{
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='23' viewBox='0 0 20 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3608_458)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H20V2.82402H0V0ZM0 10.3014H20V23L9.99777 17.3493L0 23V10.3014ZM0 5.15068H20V7.9747H0V5.15068Z' fill='%23999'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3608_458'%3E%3Crect width='20' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    .magnetic-area:hover + span.magnetic-content span.spanSvg {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='23' viewBox='0 0 20 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3608_458)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H20V2.82402H0V0ZM0 10.3014H20V23L9.99777 17.3493L0 23V10.3014ZM0 5.15068H20V7.9747H0V5.15068Z' fill='%23000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3608_458'%3E%3Crect width='20' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
  .whatsAppIcon{
    .spanSvg{
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0452 2.1665C7.13016 2.1665 2.30932 6.98734 2.30932 12.9023C2.30932 14.7982 2.80766 16.6398 3.73932 18.2648L2.22266 23.8332L7.91016 22.3382C9.48099 23.194 11.2468 23.649 13.0452 23.649C18.9602 23.649 23.781 18.8282 23.781 12.9132C23.781 10.0423 22.6652 7.34484 20.6393 5.319C18.6135 3.28234 15.916 2.1665 13.0452 2.1665ZM13.056 3.97567C15.4393 3.97567 17.671 4.90734 19.361 6.59734C21.0402 8.28734 21.9718 10.5298 21.9718 12.9132C21.9718 17.8315 17.9635 21.829 13.0452 21.829C11.4418 21.829 9.87099 21.4065 8.50599 20.5832L8.18099 20.399L4.80099 21.2873L5.70016 17.994L5.48349 17.6473C4.59516 16.2498 4.11849 14.5923 4.11849 12.9023C4.12932 7.984 8.12682 3.97567 13.056 3.97567ZM9.24266 7.94067C9.06932 7.94067 8.77682 8.00567 8.52766 8.2765C8.28932 8.54734 7.58516 9.20817 7.58516 10.519C7.58516 11.8407 8.54932 13.1082 8.66849 13.2923C8.82016 13.4765 10.5752 16.1848 13.2727 17.3332C13.9118 17.6257 14.4102 17.7882 14.8002 17.9073C15.4393 18.1132 16.0243 18.0807 16.4902 18.0157C17.0102 17.9398 18.0718 17.3657 18.2993 16.7373C18.5268 16.109 18.5268 15.5782 18.4618 15.459C18.386 15.3507 18.2127 15.2857 17.9418 15.1665C17.671 15.0148 16.3493 14.3648 16.111 14.2782C15.8618 14.1915 15.7102 14.1482 15.5043 14.4082C15.331 14.679 14.811 15.2857 14.6593 15.459C14.4968 15.6432 14.3452 15.6648 14.0852 15.5348C13.8035 15.394 12.9368 15.1123 11.9185 14.2023C11.1168 13.4873 10.586 12.6098 10.4235 12.339C10.2935 12.079 10.4127 11.9165 10.5427 11.7973C10.6618 11.6782 10.8352 11.4832 10.9435 11.3207C11.0843 11.169 11.1277 11.0498 11.2143 10.8765C11.301 10.6923 11.2577 10.5407 11.1927 10.4107C11.1277 10.2915 10.586 8.94817 10.3585 8.41734C10.1418 7.89734 9.92516 7.96234 9.75182 7.9515C9.60016 7.9515 9.42682 7.94067 9.24266 7.94067Z' fill='%23999999'/%3E%3C/svg%3E%0A");
    }
    .magnetic-area:hover + span.magnetic-content span.spanSvg{
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0452 2.1665C7.13016 2.1665 2.30932 6.98734 2.30932 12.9023C2.30932 14.7982 2.80766 16.6398 3.73932 18.2648L2.22266 23.8332L7.91016 22.3382C9.48099 23.194 11.2468 23.649 13.0452 23.649C18.9602 23.649 23.781 18.8282 23.781 12.9132C23.781 10.0423 22.6652 7.34484 20.6393 5.319C18.6135 3.28234 15.916 2.1665 13.0452 2.1665ZM13.056 3.97567C15.4393 3.97567 17.671 4.90734 19.361 6.59734C21.0402 8.28734 21.9718 10.5298 21.9718 12.9132C21.9718 17.8315 17.9635 21.829 13.0452 21.829C11.4418 21.829 9.87099 21.4065 8.50599 20.5832L8.18099 20.399L4.80099 21.2873L5.70016 17.994L5.48349 17.6473C4.59516 16.2498 4.11849 14.5923 4.11849 12.9023C4.12932 7.984 8.12682 3.97567 13.056 3.97567ZM9.24266 7.94067C9.06932 7.94067 8.77682 8.00567 8.52766 8.2765C8.28932 8.54734 7.58516 9.20817 7.58516 10.519C7.58516 11.8407 8.54932 13.1082 8.66849 13.2923C8.82016 13.4765 10.5752 16.1848 13.2727 17.3332C13.9118 17.6257 14.4102 17.7882 14.8002 17.9073C15.4393 18.1132 16.0243 18.0807 16.4902 18.0157C17.0102 17.9398 18.0718 17.3657 18.2993 16.7373C18.5268 16.109 18.5268 15.5782 18.4618 15.459C18.386 15.3507 18.2127 15.2857 17.9418 15.1665C17.671 15.0148 16.3493 14.3648 16.111 14.2782C15.8618 14.1915 15.7102 14.1482 15.5043 14.4082C15.331 14.679 14.811 15.2857 14.6593 15.459C14.4968 15.6432 14.3452 15.6648 14.0852 15.5348C13.8035 15.394 12.9368 15.1123 11.9185 14.2023C11.1168 13.4873 10.586 12.6098 10.4235 12.339C10.2935 12.079 10.4127 11.9165 10.5427 11.7973C10.6618 11.6782 10.8352 11.4832 10.9435 11.3207C11.0843 11.169 11.1277 11.0498 11.2143 10.8765C11.301 10.6923 11.2577 10.5407 11.1927 10.4107C11.1277 10.2915 10.586 8.94817 10.3585 8.41734C10.1418 7.89734 9.92516 7.96234 9.75182 7.9515C9.60016 7.9515 9.42682 7.94067 9.24266 7.94067Z' fill='%23000'/%3E%3C/svg%3E%0A");
    }
  }
  .qouraicon{
    .spanSvg{
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3609_465)'%3E%3Cpath d='M20.9898 16.6254H19.5727C19.4981 17.2621 19.0607 18.0759 17.9758 18.0759C16.979 18.0759 16.2331 17.4065 15.5686 16.399C17.8775 14.6925 19.2201 12.0342 19.1929 9.22503C19.1929 3.71496 14.504 0 9.5846 0C4.66516 0 0 3.73793 0 9.22503C0 14.7121 4.74314 18.4041 9.5846 18.4008C10.422 18.4008 11.2561 18.2925 12.0664 18.0825C13.0191 19.6578 14.2837 21 16.6773 21C20.6338 21 21.0746 17.4721 20.9898 16.6254ZM13.9616 13.9311C13.0224 12.5593 11.8392 11.4862 9.54052 11.4862C8.09622 11.4862 6.94349 11.9522 6.23151 12.5429L6.81805 13.6784C7.13336 13.5504 7.469 13.488 7.81143 13.4913C9.53035 13.4913 10.4152 14.9419 11.1645 16.376L11.0967 16.3694C10.5814 16.5073 10.0491 16.5729 9.5134 16.5663C5.88231 16.5663 4.30917 14.0788 4.30917 9.22175C4.30917 4.36474 5.87552 1.8542 9.5134 1.8542C13.1513 1.8542 14.782 4.33521 14.782 9.22175C14.782 11.181 14.5176 12.7628 13.9616 13.9311Z' fill='%23999999'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3609_465'%3E%3Crect width='21' height='21' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    .magnetic-area:hover + span.magnetic-content span.spanSvg{
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3609_465)'%3E%3Cpath d='M20.9898 16.6254H19.5727C19.4981 17.2621 19.0607 18.0759 17.9758 18.0759C16.979 18.0759 16.2331 17.4065 15.5686 16.399C17.8775 14.6925 19.2201 12.0342 19.1929 9.22503C19.1929 3.71496 14.504 0 9.5846 0C4.66516 0 0 3.73793 0 9.22503C0 14.7121 4.74314 18.4041 9.5846 18.4008C10.422 18.4008 11.2561 18.2925 12.0664 18.0825C13.0191 19.6578 14.2837 21 16.6773 21C20.6338 21 21.0746 17.4721 20.9898 16.6254ZM13.9616 13.9311C13.0224 12.5593 11.8392 11.4862 9.54052 11.4862C8.09622 11.4862 6.94349 11.9522 6.23151 12.5429L6.81805 13.6784C7.13336 13.5504 7.469 13.488 7.81143 13.4913C9.53035 13.4913 10.4152 14.9419 11.1645 16.376L11.0967 16.3694C10.5814 16.5073 10.0491 16.5729 9.5134 16.5663C5.88231 16.5663 4.30917 14.0788 4.30917 9.22175C4.30917 4.36474 5.87552 1.8542 9.5134 1.8542C13.1513 1.8542 14.782 4.33521 14.782 9.22175C14.782 11.181 14.5176 12.7628 13.9616 13.9311Z' fill='%23000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3609_465'%3E%3Crect width='21' height='21' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
   
  .spaniconfooter {
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }
  .mobile-icon-menu {
    @media only screen and (max-width: 1200px) {
      display: block;
    }
  }
}

//Dark Mode Hover 
.dark-mode{
  .linkedinIcon {
   
    .magnetic-area:hover + span.magnetic-content span.spanSvg {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32px' height='32px'%3E%3Cpath d='M 8.6425781 4 C 7.1835781 4 6 5.181625 6 6.640625 C 6 8.099625 7.182625 9.3085938 8.640625 9.3085938 C 10.098625 9.3085938 11.283203 8.099625 11.283203 6.640625 C 11.283203 5.182625 10.101578 4 8.6425781 4 z M 21.535156 11 C 19.316156 11 18.0465 12.160453 17.4375 13.314453 L 17.373047 13.314453 L 17.373047 11.310547 L 13 11.310547 L 13 26 L 17.556641 26 L 17.556641 18.728516 C 17.556641 16.812516 17.701266 14.960938 20.072266 14.960938 C 22.409266 14.960937 22.443359 17.145609 22.443359 18.849609 L 22.443359 26 L 26.994141 26 L 27 26 L 27 17.931641 C 27 13.983641 26.151156 11 21.535156 11 z M 6.3632812 11.310547 L 6.3632812 26 L 10.923828 26 L 10.923828 11.310547 L 6.3632812 11.310547 z' fill='%23fff'/%3E%3C/svg%3E");
    }
  }
  .twittericon {
   
    .magnetic-area:hover + span.magnetic-content span.spanSvg {
      
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24px' height='24px'%3E%3Cpath d='M22,3.999c-0.78,0.463-2.345,1.094-3.265,1.276c-0.027,0.007-0.049,0.016-0.075,0.023c-0.813-0.802-1.927-1.299-3.16-1.299 c-2.485,0-4.5,2.015-4.5,4.5c0,0.131-0.011,0.372,0,0.5c-3.353,0-5.905-1.756-7.735-4c-0.199,0.5-0.286,1.29-0.286,2.032 c0,1.401,1.095,2.777,2.8,3.63c-0.314,0.081-0.66,0.139-1.02,0.139c-0.581,0-1.196-0.153-1.759-0.617c0,0.017,0,0.033,0,0.051 c0,1.958,2.078,3.291,3.926,3.662c-0.375,0.221-1.131,0.243-1.5,0.243c-0.26,0-1.18-0.119-1.426-0.165 c0.514,1.605,2.368,2.507,4.135,2.539c-1.382,1.084-2.341,1.486-5.171,1.486H2C3.788,19.145,6.065,20,8.347,20 C15.777,20,20,14.337,20,8.999c0-0.086-0.002-0.266-0.005-0.447C19.995,8.534,20,8.517,20,8.499c0-0.027-0.008-0.053-0.008-0.08 c-0.003-0.136-0.006-0.263-0.009-0.329c0.79-0.57,1.475-1.281,2.017-2.091c-0.725,0.322-1.503,0.538-2.32,0.636 C20.514,6.135,21.699,4.943,22,3.999z' fill='%23fff'/%3E%3C/svg%3E");      
      
    }
  }
  .telegramIcon{
 
    .magnetic-area:hover + span.magnetic-content span.spanSvg {
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3613_418)'%3E%3Cpath d='M21.9588 0.388098C21.8793 0.160825 21.7846 0.0971887 21.6379 0.0426432C21.3171 -0.0785689 20.7732 0.103249 20.7732 0.103249C20.7732 0.103249 1.4957 6.97295 0.395704 7.73355C0.157371 7.89719 0.0779267 7.99113 0.04126 8.10325C-0.148184 8.64567 0.444593 8.88507 0.444593 8.88507L5.41293 10.4911C5.41293 10.4911 5.59932 10.5184 5.66348 10.476C6.79404 9.76689 17.0363 3.35476 17.626 3.13961C17.7207 3.11234 17.7879 3.14264 17.7696 3.20628C17.5343 4.03052 8.63959 11.8699 8.63959 11.8699C8.63959 11.8699 8.60598 11.9123 8.58459 11.9608L8.57237 11.9548L8.10793 16.8426C8.10793 16.8426 7.91237 18.3396 9.42487 16.8426C10.4913 15.7851 11.521 14.9032 12.0374 14.4729C13.7454 15.6426 15.5849 16.9366 16.3763 17.6123C16.7735 17.9517 17.1096 18.0063 17.3815 17.9972C18.1332 17.9699 18.344 17.1487 18.344 17.1487C18.344 17.1487 21.8579 3.12749 21.974 1.2487C21.9863 1.06386 22.0015 0.948704 22.0015 0.821431C22.0015 0.645673 21.9863 0.469916 21.9588 0.385067V0.388098Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3613_418'%3E%3Crect width='22' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
  .facebookIcon{
   
    .magnetic-area:hover + span.magnetic-content span.spanSvg {  
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3613_418)'%3E%3Cpath d='M21.9588 0.388098C21.8793 0.160825 21.7846 0.0971887 21.6379 0.0426432C21.3171 -0.0785689 20.7732 0.103249 20.7732 0.103249C20.7732 0.103249 1.4957 6.97295 0.395704 7.73355C0.157371 7.89719 0.0779267 7.99113 0.04126 8.10325C-0.148184 8.64567 0.444593 8.88507 0.444593 8.88507L5.41293 10.4911C5.41293 10.4911 5.59932 10.5184 5.66348 10.476C6.79404 9.76689 17.0363 3.35476 17.626 3.13961C17.7207 3.11234 17.7879 3.14264 17.7696 3.20628C17.5343 4.03052 8.63959 11.8699 8.63959 11.8699C8.63959 11.8699 8.60598 11.9123 8.58459 11.9608L8.57237 11.9548L8.10793 16.8426C8.10793 16.8426 7.91237 18.3396 9.42487 16.8426C10.4913 15.7851 11.521 14.9032 12.0374 14.4729C13.7454 15.6426 15.5849 16.9366 16.3763 17.6123C16.7735 17.9517 17.1096 18.0063 17.3815 17.9972C18.1332 17.9699 18.344 17.1487 18.344 17.1487C18.344 17.1487 21.8579 3.12749 21.974 1.2487C21.9863 1.06386 22.0015 0.948704 22.0015 0.821431C22.0015 0.645674 21.9863 0.469916 21.9588 0.385067V0.388098Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3613_418'%3E%3Crect width='22' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  
}
.instagramicon{
 
  .magnetic-area:hover + span.magnetic-content span.spanSvg{
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='24' viewBox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.4763 2H15.5263C18.593 2 21.0846 4.6 21.0846 7.8V16.2C21.0846 17.7383 20.499 19.2135 19.4566 20.3012C18.4142 21.3889 17.0005 22 15.5263 22H7.4763C4.40964 22 1.91797 19.4 1.91797 16.2V7.8C1.91797 6.26174 2.50358 4.78649 3.54597 3.69878C4.58836 2.61107 6.00214 2 7.4763 2ZM7.28464 4C6.36964 4 5.49212 4.37928 4.84512 5.05442C4.19812 5.72955 3.83464 6.64522 3.83464 7.6V16.4C3.83464 18.39 5.37755 20 7.28464 20H15.718C16.633 20 17.5105 19.6207 18.1575 18.9456C18.8045 18.2705 19.168 17.3548 19.168 16.4V7.6C19.168 5.61 17.6251 4 15.718 4H7.28464ZM16.5326 5.5C16.8503 5.5 17.155 5.6317 17.3796 5.86612C17.6043 6.10054 17.7305 6.41848 17.7305 6.75C17.7305 7.08152 17.6043 7.39946 17.3796 7.63388C17.155 7.8683 16.8503 8 16.5326 8C16.2148 8 15.9101 7.8683 15.6855 7.63388C15.4608 7.39946 15.3346 7.08152 15.3346 6.75C15.3346 6.41848 15.4608 6.10054 15.6855 5.86612C15.9101 5.6317 16.2148 5.5 16.5326 5.5ZM11.5013 7C12.7721 7 13.9909 7.52678 14.8895 8.46447C15.7881 9.40215 16.293 10.6739 16.293 12C16.293 13.3261 15.7881 14.5979 14.8895 15.5355C13.9909 16.4732 12.7721 17 11.5013 17C10.2305 17 9.01169 16.4732 8.11308 15.5355C7.21447 14.5979 6.70964 13.3261 6.70964 12C6.70964 10.6739 7.21447 9.40215 8.11308 8.46447C9.01169 7.52678 10.2305 7 11.5013 7ZM11.5013 9C10.7388 9 10.0075 9.31607 9.46837 9.87868C8.9292 10.4413 8.6263 11.2044 8.6263 12C8.6263 12.7956 8.9292 13.5587 9.46837 14.1213C10.0075 14.6839 10.7388 15 11.5013 15C12.2638 15 12.9951 14.6839 13.5342 14.1213C14.0734 13.5587 14.3763 12.7956 14.3763 12C14.3763 11.2044 14.0734 10.4413 13.5342 9.87868C12.9951 9.31607 12.2638 9 11.5013 9Z' fill='%23fff'/%3E%3C/svg%3E%0A");  }
}

.youtubeicon{

  .magnetic-area:hover + span.magnetic-content span.spanSvg{
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8346 16.2498L16.4571 12.9998L10.8346 9.74984V16.2498ZM23.358 7.76734C23.4988 8.2765 23.5963 8.959 23.6613 9.82567C23.7371 10.6923 23.7696 11.4398 23.7696 12.0898L23.8346 12.9998C23.8346 15.3723 23.6613 17.1165 23.358 18.2323C23.0871 19.2073 22.4588 19.8357 21.4838 20.1065C20.9746 20.2473 20.043 20.3448 18.613 20.4098C17.2046 20.4857 15.9155 20.5182 14.7238 20.5182L13.0013 20.5832C8.46213 20.5832 5.63464 20.4098 4.5188 20.1065C3.5438 19.8357 2.91547 19.2073 2.64464 18.2323C2.5038 17.7232 2.4063 17.0407 2.3413 16.174C2.26547 15.3073 2.23297 14.5598 2.23297 13.9098L2.16797 12.9998C2.16797 10.6273 2.3413 8.88317 2.64464 7.76734C2.91547 6.79234 3.5438 6.164 4.5188 5.89317C5.02797 5.75234 5.95964 5.65484 7.38964 5.58984C8.79797 5.514 10.0871 5.4815 11.2788 5.4815L13.0013 5.4165C17.5405 5.4165 20.368 5.58984 21.4838 5.89317C22.4588 6.164 23.0871 6.79234 23.358 7.76734Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  }

}
.substackicon{

  .magnetic-area:hover + span.magnetic-content span.spanSvg {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='23' viewBox='0 0 20 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3613_416)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H20V2.82402H0V0ZM0 10.3014H20V23L9.99777 17.3493L0 23V10.3014ZM0 5.15068H20V7.9747H0V5.15068Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3613_416'%3E%3Crect width='20' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");  }
}
.whatsAppIcon{
  .magnetic-area:hover + span.magnetic-content span.spanSvg{
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0452 2.1665C7.13016 2.1665 2.30932 6.98734 2.30932 12.9023C2.30932 14.7982 2.80766 16.6398 3.73932 18.2648L2.22266 23.8332L7.91016 22.3382C9.48099 23.194 11.2468 23.649 13.0452 23.649C18.9602 23.649 23.781 18.8282 23.781 12.9132C23.781 10.0423 22.6652 7.34484 20.6393 5.319C18.6135 3.28234 15.916 2.1665 13.0452 2.1665ZM13.056 3.97567C15.4393 3.97567 17.671 4.90734 19.361 6.59734C21.0402 8.28734 21.9718 10.5298 21.9718 12.9132C21.9718 17.8315 17.9635 21.829 13.0452 21.829C11.4418 21.829 9.87099 21.4065 8.50599 20.5832L8.18099 20.399L4.80099 21.2873L5.70016 17.994L5.48349 17.6473C4.59516 16.2498 4.11849 14.5923 4.11849 12.9023C4.12932 7.984 8.12682 3.97567 13.056 3.97567ZM9.24266 7.94067C9.06932 7.94067 8.77682 8.00567 8.52766 8.2765C8.28932 8.54734 7.58516 9.20817 7.58516 10.519C7.58516 11.8407 8.54932 13.1082 8.66849 13.2923C8.82016 13.4765 10.5752 16.1848 13.2727 17.3332C13.9118 17.6257 14.4102 17.7882 14.8002 17.9073C15.4393 18.1132 16.0243 18.0807 16.4902 18.0157C17.0102 17.9398 18.0718 17.3657 18.2993 16.7373C18.5268 16.109 18.5268 15.5782 18.4618 15.459C18.386 15.3507 18.2127 15.2857 17.9418 15.1665C17.671 15.0148 16.3493 14.3648 16.111 14.2782C15.8618 14.1915 15.7102 14.1482 15.5043 14.4082C15.331 14.679 14.811 15.2857 14.6593 15.459C14.4968 15.6432 14.3452 15.6648 14.0852 15.5348C13.8035 15.394 12.9368 15.1123 11.9185 14.2023C11.1168 13.4873 10.586 12.6098 10.4235 12.339C10.2935 12.079 10.4127 11.9165 10.5427 11.7973C10.6618 11.6782 10.8352 11.4832 10.9435 11.3207C11.0843 11.169 11.1277 11.0498 11.2143 10.8765C11.301 10.6923 11.2577 10.5407 11.1927 10.4107C11.1277 10.2915 10.586 8.94817 10.3585 8.41734C10.1418 7.89734 9.92516 7.96234 9.75182 7.9515C9.60016 7.9515 9.42682 7.94067 9.24266 7.94067Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  }

}
.qouraicon{
  .magnetic-area:hover + span.magnetic-content span.spanSvg{
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3609_465)'%3E%3Cpath d='M20.9898 16.6254H19.5727C19.4981 17.2621 19.0607 18.0759 17.9758 18.0759C16.979 18.0759 16.2331 17.4065 15.5686 16.399C17.8775 14.6925 19.2201 12.0342 19.1929 9.22503C19.1929 3.71496 14.504 0 9.5846 0C4.66516 0 0 3.73793 0 9.22503C0 14.7121 4.74314 18.4041 9.5846 18.4008C10.422 18.4008 11.2561 18.2925 12.0664 18.0825C13.0191 19.6578 14.2837 21 16.6773 21C20.6338 21 21.0746 17.4721 20.9898 16.6254ZM13.9616 13.9311C13.0224 12.5593 11.8392 11.4862 9.54052 11.4862C8.09622 11.4862 6.94349 11.9522 6.23151 12.5429L6.81805 13.6784C7.13336 13.5504 7.469 13.488 7.81143 13.4913C9.53035 13.4913 10.4152 14.9419 11.1645 16.376L11.0967 16.3694C10.5814 16.5073 10.0491 16.5729 9.5134 16.5663C5.88231 16.5663 4.30917 14.0788 4.30917 9.22175C4.30917 4.36474 5.87552 1.8542 9.5134 1.8542C13.1513 1.8542 14.782 4.33521 14.782 9.22175C14.782 11.181 14.5176 12.7628 13.9616 13.9311Z' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3609_465'%3E%3Crect width='21' height='21' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

}

.light-mode {
  /*
  .blog-mode{
    background-color: #000;
    h2,p,.blog-footer-list a,h4{
      color: #fff;
    }
    .blog-footer-list .nav-link-hover{
      color: #fff;
    }
    .nav-link-hover::before {
      color: #fff;
    }
    .nav-link-hover::after{
      color: #fff;
    }
    .nav-link-hover::before{
      top: 5px;
    }
    .blog-footer-list a span{
      color: #000;
    }
  }
  */
}
