.blog-container {
  height: 75vh;
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-container h2 {
  margin-top: 90px;
  letter-spacing: -0.03em;
}

.blog-footer-text {
  margin-top: 30px;
}

.blog-contact {
  width: 40%;
}

.fs-20 {
  font-size: 20px;
}

.footer-social {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  font-size: 23px;
}

.blog-footer-list {
  list-style: none;
}

.light-mode .blog-footer-list a {
  color: #000;
}

.dark-mode .blog-footer-list a {
  color: #fff;
}

.gray-color {
  color: #333;
}

@media screen and (max-width: 992px) {
  .blog-container {
    align-items: center;
    text-align: center;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .blog-contact {
    width: 60%;
  }

  .blog-container {
    height: 85vh;
    width: 100%;
  }
  .footer-social {
    margin-top: 90px;
    width: 60%;
  }
  .blog-footer-list {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  .blog-container {
    height: 100%;
  }
  .blog-container h2 {
    margin-top: 0px;
  }
  .blog-footer-text {
    margin-top: 0px;
  }
  .blog-contact {
    width: 100%;
    font-size: 16px;
    margin-top: 80px;
  }
  .blog-contact .fs-20 {
    font-size: 16px;
  }
  .footer-social {
    width: 75%;
    font-size: 17px;
  }
  .blog-container .fs-75 {
    line-height: 45px;
  }
}
