.mt-filter {
  margin: 200px auto;
}
.filter-title {
  font-size: 24px;
  line-height: 28px;
  color: #787878;
}

.filter-item {
  font-size: 40px;
}
.active {
  border: none;
}
.filter-item:nth-child(2) {
  margin: 0 30px;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
  .filter-item {
    font-size: 20px;
    border-bottom: 1px solid;
  }
}
