@import '../../styles/mixins/flex';
@import '../../styles/mixins/dimensions';

.dashbord-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dashbord-btn {
  margin-top: 30px;
}

.feature-section {
  @include justify-content-between;
}

.dashbord-img {
  @include justify-content-between;
}

.first-img {
  margin-bottom: 120px !important;
}
.secend-img {
  margin-bottom: 120px !important;
}

.blog-images-galeray {
  max-width: 501px !important;
  max-height: 633px !important;
  position: relative !important;
}

.dashbord-img .first-img img,
.dashbord-img .secend-img img {
  position: absolute !important;
  margin-top: 0 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}
.end-secend {
  margin-top: 50px;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
  .dashbord-img .secend-img img {
    margin-top: 30px;
  }
}

// ====

.feature-section {
  h4 {
    font-size: 26px !important;
  }
}
