.sub-footer {
  width: 87vw;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 12px;
  align-items: center;
  position: relative;
  z-index: 5;
}
.sub-footer ul {
  width: 50%;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}
.footer-list {
  color: #838282;
}
